.editor
  &__title
    margin-bottom: 5px
  &__input
    resize: vertical
    margin-bottom: 20px
    padding: 5px 10px
    width: 90%
    vertical-align: center
    &-small
      // height: 300px
    &-large
      height: 300px
